h1{
    text-align: center;
    font-size: 18px;
    color: #757892;
}



.width{
    width: 320px;
}

input,label{
    color:#757892;
}


.search{
    background-color: #37b796;
    color: white !important;
    height: 45px;
}

#main {
    float: left;
    position: relative;
    left: 50%;
}

#content {
    float: left;
    position: relative;
    left: -50%;
}