h1{
    text-align: center;
    font-size: 18px;
    color: #757892;
}



.width{
    width: 320px;
}

input,label{
    color:#757892;
}


button{
    background-color: #37b796;
    color: white !important;
}