<div>
    

    <div id="main">
        <div id="content">
            <h1>Search GitHub User</h1>
            <form>
                <mat-form-field class="width" appearance="outline" >
                <mat-label>Github User Name</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input type="text" matInput placeholder="Ethan Linker">
                </mat-form-field>
            </form>

            <button class="width search" mat-stroked-button>Search</button>
        </div>
    </div>

</div>